Alembic==0.8.10
apispec>=0.20.0,<0.39
bjoern>=2.2.3
bokeh>=1.0.4
docker>=3.5.1
flask-caching>=1.7.1
flask-marshmallow==0.7.0
flask-restplus>=0.12.1
Flask-SQLAlchemy>=2.4.0
flask>=1.0.2
gevent>=1.4.0
Jinja2>=2.10
Markdown>=3.0.1
marshmallow-sqlalchemy==0.12.0
marshmallow>=2.13.5
multiqc>=1.7
plotly>=3.6.1
psutil>=5.5.1
pyparsing>=2.3.1
requests>=2.21.0
SQLAlchemy>=1.3.1